<div class="row justify-content-lg-center g-3">
<h1><%= title %>Contact</h1>

<form method = "POST" class="col-lg-6 col-md-10 col-sm-10">
    <div class="input-group mb-3">
        <span class="input-group-text" id="firstname">FirstName</span>
        <input id="firstname" type="text" class="form-control" placeholder="First Name" aria-label="FirstName"
            aria-describedby="Contact FirstName" name ="firstname" value = "<%= contactitem.firstname %>" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="name">LastName</span>
        <input id="firstname" type="text" class="form-control" placeholder="Name" aria-label="FirstName"
            aria-describedby="Contact FirstName" name="firstname" value="<%= contactitem.firstname %>" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="name">FirstName</span>
        <input id="firstname" type="text" class="form-control" placeholder="Name" aria-label="FirstName"
            aria-describedby="Contact FirstName" name="firstname" value="<%= contactitem.firstname %>" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="name">FirstName</span>
        <input id="firstname" type="text" class="form-control" placeholder="Name" aria-label="FirstName"
            aria-describedby="Contact FirstName" name="firstname" value="<%= contactitem.firstname %>" required>
    </div>


</form>

</div>