
<%- include('./components/header.ejs'); %>
  <!--Navigation Section-->
  <header>
    <%- include('./components/navigation.ejs'); %>
  </header>


  <!-- Main Content-->
  <main>
  <div class
    <%- include('./contents/' + page + '.ejs' ); %>
  </main>


  <!--Bottom Navigation-->
  <footer>
    <%- include('./components/footer.ejs'); %>
  </footer>
    
  <!-- Javascript Section-->
  <%- include('./components/bottom.ejs'); %>